<div class="task-list">
  @if (pendingTasks().length > 0) {
  <h3>Tarefas pendentes</h3>
  <ul>
    @for (item of pendingTasks(); track item.id) {
    <li>
      <label class="input-label-text" [for]="item.id">
        <input
          type="checkbox"
          [checked]="item.completed"
          (change)="sendTaskId(item.id, TaskActions.TOGGLE)"
        />
        <input
          type="text"
          placeholder="Digite a tarefa"
          autocomplete="off"
          [value]="item.value"
          [id]="item.id"
          (input)="sendTaskId(item.id, TaskActions.EDIT, newTaskInput.value)"
          #newTaskInput
        />
        <button
          class="btn btn-danger-circle"
          title="Delete este item"
          (click)="sendTaskId(item.id, TaskActions.DELETE)"
        ></button>
      </label>
    </li>
    }
  </ul>
  } @if (completedTasks().length > 0) {
  <h3>Tarefas concluídas</h3>
  <ul>
    @for (item of completedTasks(); track item.id) {
    <li>
      <label class="input-label-text" [for]="item.id">
        <input
          type="checkbox"
          [checked]="item.completed"
          (change)="sendTaskId(item.id, TaskActions.TOGGLE)"
        />
        <input
          type="text"
          placeholder="Digite a tarefa"
          autocomplete="off"
          [value]="item.value"
          [id]="item.id"
          (input)="sendTaskId(item.id, TaskActions.EDIT, newTaskInput.value)"
          #newTaskInput
        />
        <button
          class="btn btn-danger-circle"
          title="Delete este item"
          (click)="sendTaskId(item.id, TaskActions.DELETE)"
        ></button>
      </label>
    </li>
    }
  </ul>
  }
</div>
