<div class="task-list">
  <ul>
    @for (item of todoList(); track $index) { @if (item.completed) {
    <h3>Tarefas pendentes</h3>
    <li>
      <label class="input-label-text">
        <input
          type="text"
          placeholder="Digite a tarefa"
          [value]="item.todo"
          #newTaskInput
        />
      </label>
    </li>
    } }
  </ul>
  <h3>Tarefas concluídas</h3>
  <ul>
    @for (item of todoList(); track $index) { @if (!item.completed) {
    <li>
      <label class="input-label-text">
        <input
          type="checkbox"
          #inputCheckbox
          [checked]="item.completed"
          (input)="updateItemCheckbox(item.id, inputCheckbox.checked)"
        />
        <input
          type="text"
          placeholder="Digite a tarefa"
          [value]="item.todo"
          #newTaskInput
        />
         <button class="btn btn-danger-circle" title="Delete este item" (click)="deleteItem(item.id)"></button>
      </label>
    </li>
    } }
  </ul>
  <button class="btn btn-danger" title="Deletar esta tarefa">
    Deletar todos as tarefas
  </button>
</div>
