:host {
  // display: block;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    width: calc(100% - 30px);
    margin: auto;
    max-width: 500px;
  }

  .noTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
  }
}
