<div class="container">
  @if (addNewTask() && tasks != null) {
    <app-task-list/>
   } @else {
  <div class="noTasks">
    <img
      src="/img/task-list-null.png"
      alt="Sua lista está vazia - imagem ilustrativa"
      loading="eager"
    />
    @if (addNewTask() && tasks == null) {
    <app-add-new-task (getNewTask)="newTask.set($event)" />
    } @else {
    <app-empty-task
      [addTask]="addNewTask()"
      (inputAddTaskToggle)="addNewTask.set($event)"
    />
    }
  </div>
  }
</div>
