<main>
  <div class="container">
    @if (tasksList().length > 0) {
    <div class="todoList">
      <app-add-new-task (getNewTask)="addTaskInList($event)" />
      <app-task-list
        [list]="tasksList()"
        (toggleTask)="toggleTaskStatus($event)"
      />
      <button
        class="btn btn-danger"
        title="Deletar esta tarefa"
        (click)="confirmAndeleteAllTasks()"
        >
        Deletar todas as tarefas (completas e pendentes)
      </button>
    </div>
    } @else {
    <div class="noTasks">
      <img
        src="/img/task-list-null.png"
        alt="Sua lista está vazia - imagem ilustrativa"
        loading="eager"
      />
      @if (addNewTask() && tasksList().length == 0) {
      <app-add-new-task (getNewTask)="addTaskInList($event)" />
      } @else {
      <app-empty-task
        [addTask]="addNewTask()"
        (inputAddTaskToggle)="addNewTask.set($event)"
      />
      }
    </div>
    }
  </div>
</main>
